:root {
    --background-color:#3A606E;
    --heading-color:#AAAE8E;
    --main-color:#607B7D;
    --text-color:#E0E0E0;
}

body{
    background-color:var(--background-color);
}

header{
    /* display:flex; */
    /* justify-content: space-between; */
    border: 1px solid black;
    padding:2%;
}

h1, h2, h3, h4, h5, h6 {
    color:var(--heading-color);
}

header h1  {
    font-size:larger;
}

nav {
    /* border: 1px solid black */
}


/* nav ul {
   display: flex;
   align-items: center;
   border: 1px solid black;
}

nav li{
    border: 1px solid black;
    padding: 14px 20px;
} */

nav ul {
    position:fixed;
    top:1px;
    right:5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

nav li {
    float:left;
}

nav a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--heading-color);
}

nav a:hover{
    background-color:var(--main-color);
}

body {
}

main {
    border: 1px solid black;
    background-color:var(--main-color)
}


/* .work{
    width:200px;
    height:100px;
    display:relative;
    margin:1%;
} */

section {
    background-color:var(--main-color);
    display:flex;
    justify-content: center;
    /* height:100px; */
    margin:10px;
    /* border: 1px solid black */
}

.left {
    float:left;
    width:20%;
    border-right:5px solid var(--heading-color);
    height:inherit;
}

.right {
    float:right;
    width:80%;
    /* border: 1px solid black */
}

.right>img {
    position:relative;
    /* left:50px; */
    width:150px;
    height:auto;
    border-radius: 100%;
    /* border: 1px solid black; */
}

.project{
    display:inline-block;
    /* float:left; */
    padding:1%;
    border: 1px solid black;

}

.project img {
    /* position:relative; */
    /* left:50px; */
    width:150px;
    height:auto;
}

.project img:hover{
    opacity:.5;
}

.first-project{
    display:flex;
    justify-content: center;
    /* float:center; */
    padding:1%;
    border:1px solid black;
}

.first-project img {
    /* position:relative; */
    width:250px;
    /* height:auto; */
}

.right h2{
    
}

p{
    color:var(--text-color);
}

.right p {
    position:relative;
    left:50px;
}

/* 
@media whatever to do a vertical navbar
li a {
  display: block;
*/