:root {
    --background-color:#111213ff;
    --heading-color:#a6bee1;
    --main-color:#333;
    --text-color:#c3cad7;
}

/* Smooth scroll for nav buttons */
html {
    scroll-behavior: smooth;
  }

body{
    /* fit content to screen */
    min-width: fit-content;
    background-color:var(--background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    margin:3em;
    text-align: right;
}

footer{
    padding:3em;
    text-align:center;
}

/* Most headers should have a black shadow "border" */
h1, h2, h3, h5, h6 {
    color:var(--heading-color);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* h4 is used for the subtext on the photo-label cards */
h4{
    color:var(--text-color);
    font-weight:100;
    font-size: small;
}

/* specific h1 attribues for header */
header h1  {
    font-size: 2em;
    text-align: right;
}


/* ======== Navigation definitions ========*/
nav{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
    border:1px solid var(--background-color);
}

ul {
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--main-color);
  }
  
li a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover{
    background-color:var(--background-color);
}
/* ======== End navigation definitions ======= */



main {
    background-color:var(--main-color)
}

/* About me section styling */
#about p{
    text-align:center;
    padding:3em;
    color:var(--text-color);

}

/* Avatar that is displayed in the header */
.avatar {
    position:absolute;
    top:1em;
    left:10%;
    border-radius: 50%;
    width:7em;
    z-index: -1;
}

/* This h2 is utilized on the left "side bar" to designate each main section */
h2 {
    text-align: center;
    font-size:2em;
    font-weight: 300;
    border-bottom: 2px solid var(--heading-color);
}

#work {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    background-color:var(--main-color);
    margin: 0 0 2em 0;
}

/* Each project recieves its own container */
.project-container{
    position: relative;
    margin:1em;
    border:5px solid var(--background-color);
    height:9em;
    overflow:hidden;
}

/* The first project is the Feature Project, and receives special styling */
.feature {
    color:var(--text-color);
    height:auto;   
}

/* This is the black box label overlay on the project photos */
.photo-label {
    position: absolute;
    top: 0;
    /* background is slightly transparent */
    background: rgba(0, 0, 0, 0.8); 
    width: 70%;
    padding: 1em;
  }

/* default project image style */
.project-container img {
    max-width:18em;
    opacity:.5;
}

/* additional style for the Feature Project */
.feature img{
    width:100%;
    max-width: 80em;
}

/* opacity on img is removed when hovered over the entire project container */
.project-container:hover img{
    opacity: 1;
}

#contact{
    display: flex;
    justify-content: center;
}

#contact img {
    display:inline;
    width:100%;
    max-width:2em;
    margin:1em;
}

/* Media query to adjust layout for any viewport over 1000px */
@media screen and (min-width:1000px) {

    /* Adjust nav so it gets shoved to the left */
    ul {
        justify-content: flex-start;
    }

    header,footer {
        margin:2em;
        margin-left:20em;
    }

    header h1 {
        font-size:4em;
        text-align: center;
    }

    section>h2 {
        display:inline;
        right:30px;
        margin-left:5em;
        font-size:2em;
        font-weight: 300;
        border-bottom: 0;
    }

    /* Creates a "side bar" layout style */
    #about,#work,#contact{
        margin-left:20em;
        border-left: 2px solid var(--heading-color);
        min-height:5em;
    }

}

